@import url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #171717;
  background: #ffffff;
  font-family: "Mitr", serif;
}

.container {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

h1 {
  font-size: 3rem;
}

header {
  background-image: url("../Project/img-icon/BG-Homepage.png");
}

.progress-line {
  width: 0%;
  background-color: #f9a4b2; /* ชมพู */
  animation: fillLoop 3s ease-in-out infinite;
}

@keyframes fillLoop {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.wiggle {
  animation: wiggle 1.5s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes wiggle {
  0% { transform: rotate(0deg) translateY(0); }
  25% { transform: rotate(3deg) translateY(-5px); }
  50% { transform: rotate(-3deg) translateY(0); }
  75% { transform: rotate(2deg) translateY(-7px); }
  100% { transform: rotate(0deg) translateY(0); }
}
